.body{
    background-color:antiquewhite;
    font: 16px normal verdana;
}

.container{
    margin: auto;
    padding: auto;

}
.btn{
    background-color: #333;
    color: #fff;
    padding:10px 15px; 
    border: 3px solid #333 ;
}

.btn:hover {
    background-color: #fff;
    color: #333;
    border: 3px solid #333 ;
}

.my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .expense {
      color: Red;
  }

  .savings {
      color: green;
  }